{% extends 'base.html' %}
{% load static%}


    {% block content %}

    <!-- start hero section -->
    <section class="hero-section">
        <h1 class="hero-title">Want to travel seamlessly?</h1>
        <p class="hero-paragraph">Comfort and Convenience are our top priority</p>

        <div class="search">
            <div class="hero-image">
                <img src="{% static './assets/images/app.png' %}" alt="man sitting on a phone">
            </div>
            <div class="download-app">
                <p class="download-para">Download the best ticket booking app in Africa. Automatic Booking <br> right at
                    the palm of your hands.</p>
            </div>
        </div>
    </section>
    <!-- end hero section -->

    <!-- why us section -->
    <section class="why">
        <h1 class="why-title">Why GariYangu?</h1>
        <div class="card-container">
            <div class="cards">
                <div class="card">
                    <div class="image">
                        <img src="{% static './assets/images/freelancer.png' %}" alt="freelancer vector image">
                    </div>
                    <div class="desc">
                        <h3>Comfort</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil laborum dolorum explicabo
                            voluptatem fuga, quibusdam, odit aliquam ab asperiores minima sed, atque alias sit iste
                            quod! Soluta at est veritatis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static './assets/images/freelancer.png' %}" alt="freelancer vector image">
                    </div>
                    <div class="desc">
                        <h3>Punctuality</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil laborum dolorum explicabo
                            voluptatem fuga, quibusdam, odit aliquam ab asperiores minima sed, atque alias sit iste
                            quod! Soluta at est veritatis!</p>
                    </div>
                </div>
                <div class="card">
                    <div class="image">
                        <img src="{% static './assets/images/freelancer.png' %}" alt="freelancer vector image">
                    </div>
                    <div class="desc">
                        <h3>Pricing</h3>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil laborum dolorum explicabo
                            voluptatem fuga, quibusdam, odit aliquam ab asperiores minima sed, atque alias sit iste
                            quod! Soluta at est veritatis!</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end why us section -->

    <!-- start about section -->
    <section class="about" id="about">
        <h3>About</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde possimus sunt at nemo obcaecati esse iusto
            dicta maxime! Quam, similique nisi. Voluptate sit eveniet dolor quos. Nobis, modi, voluptatum temporibus
            repudiandae provident omnis quam laudantium sed quisquam commodi neque aspernatur.</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde possimus sunt at nemo obcaecati esse iusto
            dicta maxime! Quam, similique nisi. Voluptate sit eveniet dolor quos. Nobis, modi, voluptatum temporibus
            repudiandae provident omnis quam laudantium sed quisquam commodi neque aspernatur.</p>
    </section>
    <!-- end about section -->
    
    {% endblock content%}


